# Relatório de Análise
## Seleções de frequencias

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('data/aluguel_residencial.csv', sep = ';')
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0

In [5]:
# Selecione somente os imóveis classificados com tipo 'Apartamento'.
selecao = dados['Tipo'] == 'Apartamento'
n1 = dados[selecao].shape[0]
n1

19532

In [9]:
# Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'.
selecao = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')
n2 = dados[selecao].shape[0]
n2

2212

In [11]:
# Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.
# 60 <= area <= 100.
selecao = (dados['Area'] >= 60) & (dados['Area'] <= 100)
n3 = dados[selecao].shape[0]
n3

8719

In [12]:
# Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.
selecao = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)
n4 = dados[selecao].shape[0]
n4

41

In [14]:

print(f"Nº de os imóveis classificados com tipo 'Apartamento'. -> {n1}")

print(f"Nº de os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'. -> {n2}")

print(f"Nº de os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites. -> {n3}")

print(f"Nº de os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00. -> {n4}")

Nº de os imóveis classificados com tipo 'Apartamento' -> 19532
Nº de os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'. -> 2212
Nº de os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites. -> 8719
Nº de os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00. -> 41