In [1]:
import pandas as pd

# Series

In [2]:
data = [1,2,3,4,5]

In [4]:
s = pd.Series(data)

In [5]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
index = ['Linha ' + str(i) for i in range(5)]

In [9]:
index

['Linha 0', 'Linha 1', 'Linha 2', 'Linha 3', 'Linha 4']

In [10]:
s = pd.Series(data = data, index = index)

In [11]:
s

Linha 0    1
Linha 1    2
Linha 2    3
Linha 3    4
Linha 4    5
dtype: int64

In [12]:
data = {'linha ' + str(i) : i + 1 for i in range(5)}

In [13]:
data

{'linha 0': 1, 'linha 1': 2, 'linha 2': 3, 'linha 3': 4, 'linha 4': 5}

In [14]:
s = pd.Series(data)

In [15]:
s

linha 0    1
linha 1    2
linha 2    3
linha 3    4
linha 4    5
dtype: int64

In [16]:
s1 = s + 2

In [17]:
s1

linha 0    3
linha 1    4
linha 2    5
linha 3    6
linha 4    7
dtype: int64

In [18]:
s2 = s + s1
s2

linha 0     4
linha 1     6
linha 2     8
linha 3    10
linha 4    12
dtype: int64